.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}

.ingredient_dragging {
  opacity: 0.2;
}

.ingredient_price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.ingredient_link {
  color: #f2f2f3;
  text-decoration: none;
}

.ingredient_name {
  text-align: center;
}
